<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
  <key>CFBundleDisplayName</key><string>Motionary</string>
  <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
  <key>UIAppFonts</key>
  <array>
    <string>Custom-Regular.otf</string>
    <string>MFonte51e8452vd5675e90L0-Regular.ttf</string>
    <string>MFonte51e8452L0-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L0-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L1-Regular.ttf</string>
    <string>MFonte51e8452L1-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L1-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L2-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L2-Regular.ttf</string>
    <string>MFonte51e8452L2-Regular.ttf</string>
    <string>MFonte51e8452L3-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L3-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L3-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L4-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L4-Regular.ttf</string>
    <string>MFonte51e8452L4-Regular.ttf</string>
    <string>MFonte51e8452L5-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L5-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L5-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L6-Regular.ttf</string>
    <string>MFonte51e8452L6-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L6-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L7-Regular.ttf</string>
    <string>MFonte51e8452L7-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L7-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L8-Regular.ttf</string>
    <string>MFonte51e8452L8-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L8-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L9-Regular.ttf</string>
    <string>MFonte51e8452L9-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L9-Regular.ttf</string>
    <string>MFonte51e8452L10-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L10-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L10-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L11-Regular.ttf</string>
    <string>MFonte51e8452L11-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L11-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L12-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L12-Regular.ttf</string>
    <string>MFonte51e8452L12-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L13-Regular.ttf</string>
    <string>MFonte51e8452L13-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L13-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L14-Regular.ttf</string>
    <string>MFonte51e8452L14-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L14-Regular.ttf</string>
    <string>MFonte51e8452L15-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L15-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L15-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L16-Regular.ttf</string>
    <string>MFonte51e8452L16-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L16-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L17-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L17-Regular.ttf</string>
    <string>MFonte51e8452L17-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L18-Regular.ttf</string>
    <string>MFonte51e8452L18-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L18-Regular.ttf</string>
    <string>MFonte51e8452L19-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L19-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L19-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L20-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L20-Regular.ttf</string>
    <string>MFonte51e8452L20-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L21-Regular.ttf</string>
    <string>MFonte51e8452L21-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L21-Regular.ttf</string>
    <string>MFonte51e8452L22-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L22-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L22-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L23-Regular.ttf</string>
    <string>MFonte51e8452L23-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L23-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L24-Regular.ttf</string>
    <string>MFonte51e8452L24-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L24-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L25-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L25-Regular.ttf</string>
    <string>MFonte51e8452L25-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L26-Regular.ttf</string>
    <string>MFonte51e8452L26-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L26-Regular.ttf</string>
    <string>MFonte51e8452L27-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L27-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L27-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L28-Regular.ttf</string>
    <string>MFonte51e8452L28-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L28-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L29-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L29-Regular.ttf</string>
    <string>MFonte51e8452L29-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L30-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L30-Regular.ttf</string>
    <string>MFonte51e8452L30-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L31-Regular.ttf</string>
    <string>MFonte51e8452L31-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L31-Regular.ttf</string>
    <string>MFonte51e8452L32-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L32-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L32-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L33-Regular.ttf</string>
    <string>MFonte51e8452L33-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L33-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L34-Regular.ttf</string>
    <string>MFonte51e8452L34-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L34-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L35-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L35-Regular.ttf</string>
    <string>MFonte51e8452L35-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L36-Regular.ttf</string>
    <string>MFonte51e8452L36-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L36-Regular.ttf</string>
    <string>MFonte51e8452L37-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L37-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L37-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L38-Regular.ttf</string>
    <string>MFonte51e8452L38-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L38-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L39-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L39-Regular.ttf</string>
    <string>MFonte51e8452L39-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L40-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L40-Regular.ttf</string>
    <string>MFonte51e8452L40-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L41-Regular.ttf</string>
    <string>MFonte51e8452L41-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L41-Regular.ttf</string>
    <string>MFonte51e8452L42-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L42-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L42-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L43-Regular.ttf</string>
    <string>MFonte51e8452L43-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L43-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L44-Regular.ttf</string>
    <string>MFonte51e8452L44-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L44-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L45-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L45-Regular.ttf</string>
    <string>MFonte51e8452L45-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L46-Regular.ttf</string>
    <string>MFonte51e8452L46-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L46-Regular.ttf</string>
    <string>MFonte51e8452L47-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L47-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L47-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L48-Regular.ttf</string>
    <string>MFonte51e8452L48-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L48-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L49-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L49-Regular.ttf</string>
    <string>MFonte51e8452L49-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L50-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L50-Regular.ttf</string>
    <string>MFonte51e8452L50-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L51-Regular.ttf</string>
    <string>MFonte51e8452L51-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L51-Regular.ttf</string>
    <string>MFonte51e8452L52-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L52-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L52-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L53-Regular.ttf</string>
    <string>MFonte51e8452L53-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L53-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L54-Regular.ttf</string>
    <string>MFonte51e8452L54-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L54-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L55-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L55-Regular.ttf</string>
    <string>MFonte51e8452L55-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L56-Regular.ttf</string>
    <string>MFonte51e8452L56-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L56-Regular.ttf</string>
    <string>MFonte51e8452L57-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L57-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L57-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L58-Regular.ttf</string>
    <string>MFonte51e8452L58-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L58-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L59-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L59-Regular.ttf</string>
    <string>MFonte51e8452L59-Regular.ttf</string>
    <string>MFonte51e8452L60-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L60-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L60-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L61-Regular.ttf</string>
    <string>MFonte51e8452L61-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L61-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L62-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L62-Regular.ttf</string>
    <string>MFonte51e8452L62-Regular.ttf</string>
    <string>MFonte51e8452vd5675e90L63-Regular.ttf</string>
    <string>MFonte51e8452L63-Regular.ttf</string>
    <string>MFonte51e8452veb178b23L63-Regular.ttf</string>
    <string>MFont58737edbL0-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L0-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L0-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L0-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL0-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L0-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL0-Regular.ttf</string>
    <string>MFont58737edbvcef67741L0-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL0-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L0-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL0-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL0-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L0-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL0-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL1-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L1-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL1-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL1-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L1-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL1-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L1-Regular.ttf</string>
    <string>MFont58737edbL1-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L1-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL1-Regular.ttf</string>
    <string>MFont58737edbvcef67741L1-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L1-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL1-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L1-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL2-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L2-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL2-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL2-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L2-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL2-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L2-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL2-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L2-Regular.ttf</string>
    <string>MFont58737edbvcef67741L2-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL2-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L2-Regular.ttf</string>
    <string>MFont58737edbL2-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L2-Regular.ttf</string>
    <string>MFont58737edbvcef67741L3-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL3-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L3-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL3-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L3-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L3-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L3-Regular.ttf</string>
    <string>MFont58737edbL3-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL3-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L3-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL3-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL3-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L3-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL3-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL4-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L4-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL4-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L4-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL4-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL4-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L4-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L4-Regular.ttf</string>
    <string>MFont58737edbL4-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL4-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L4-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L4-Regular.ttf</string>
    <string>MFont58737edbvcef67741L4-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL4-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L5-Regular.ttf</string>
    <string>MFont58737edbL5-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L5-Regular.ttf</string>
    <string>MFont58737edbvcef67741L5-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL5-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L5-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L5-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL5-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL5-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L5-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL5-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL5-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL5-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L5-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL6-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L6-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L6-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL6-Regular.ttf</string>
    <string>MFont58737edbvcef67741L6-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L6-Regular.ttf</string>
    <string>MFont58737edbL6-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L6-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L6-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL6-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL6-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL6-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L6-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL6-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL7-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL7-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L7-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL7-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L7-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL7-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL7-Regular.ttf</string>
    <string>MFont58737edbvcef67741L7-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L7-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L7-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL7-Regular.ttf</string>
    <string>MFont58737edbL7-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L7-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L7-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL8-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL8-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L8-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L8-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL8-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL8-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L8-Regular.ttf</string>
    <string>MFont58737edbL8-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L8-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL8-Regular.ttf</string>
    <string>MFont58737edbvcef67741L8-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L8-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL8-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L8-Regular.ttf</string>
    <string>MFont58737edbL9-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L9-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L9-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L9-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL9-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L9-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL9-Regular.ttf</string>
    <string>MFont58737edbvcef67741L9-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L9-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL9-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL9-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL9-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL9-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L9-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L10-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L10-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL10-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL10-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L10-Regular.ttf</string>
    <string>MFont58737edbvcef67741L10-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL10-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L10-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL10-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L10-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL10-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L10-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL10-Regular.ttf</string>
    <string>MFont58737edbL10-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL11-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L11-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL11-Regular.ttf</string>
    <string>MFont58737edbL11-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL11-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L11-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL11-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L11-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L11-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L11-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL11-Regular.ttf</string>
    <string>MFont58737edbvcef67741L11-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L11-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL11-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L12-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL12-Regular.ttf</string>
    <string>MFont58737edbL12-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL12-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L12-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL12-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL12-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L12-Regular.ttf</string>
    <string>MFont58737edbvcef67741L12-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL12-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L12-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L12-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L12-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL12-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L13-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL13-Regular.ttf</string>
    <string>MFont58737edbvcef67741L13-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L13-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL13-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL13-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L13-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L13-Regular.ttf</string>
    <string>MFont58737edbL13-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL13-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L13-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL13-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L13-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL13-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL14-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L14-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL14-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L14-Regular.ttf</string>
    <string>MFont58737edbL14-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL14-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L14-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L14-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL14-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL14-Regular.ttf</string>
    <string>MFont58737edbvcef67741L14-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L14-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL14-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L14-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL15-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L15-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L15-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L15-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL15-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L15-Regular.ttf</string>
    <string>MFont58737edbvcef67741L15-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL15-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL15-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L15-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL15-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL15-Regular.ttf</string>
    <string>MFont58737edbL15-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L15-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL16-Regular.ttf</string>
    <string>MFont58737edbvcef67741L16-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L16-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL16-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L16-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L16-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L16-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL16-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L16-Regular.ttf</string>
    <string>MFont58737edbL16-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL16-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL16-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L16-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL16-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL17-Regular.ttf</string>
    <string>MFont58737edbL17-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L17-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL17-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L17-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL17-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L17-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL17-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L17-Regular.ttf</string>
    <string>MFont58737edbvcef67741L17-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL17-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL17-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L17-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L17-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL18-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL18-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L18-Regular.ttf</string>
    <string>MFont58737edbL18-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL18-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L18-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L18-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL18-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L18-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL18-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L18-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL18-Regular.ttf</string>
    <string>MFont58737edbvcef67741L18-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L18-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L19-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL19-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L19-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L19-Regular.ttf</string>
    <string>MFont58737edbvcef67741L19-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL19-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L19-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL19-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L19-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL19-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL19-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L19-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL19-Regular.ttf</string>
    <string>MFont58737edbL19-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L20-Regular.ttf</string>
    <string>MFont58737edbL20-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL20-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL20-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L20-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL20-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL20-Regular.ttf</string>
    <string>MFont58737edbvcef67741L20-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L20-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL20-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L20-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L20-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L20-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL20-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L21-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL21-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L21-Regular.ttf</string>
    <string>MFont58737edbvcef67741L21-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL21-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL21-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L21-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L21-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL21-Regular.ttf</string>
    <string>MFont58737edbL21-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L21-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL21-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L21-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL21-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L22-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L22-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL22-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL22-Regular.ttf</string>
    <string>MFont58737edbvcef67741L22-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L22-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL22-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L22-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL22-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L22-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL22-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L22-Regular.ttf</string>
    <string>MFont58737edbL22-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL22-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL23-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L23-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL23-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL23-Regular.ttf</string>
    <string>MFont58737edbL23-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L23-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL23-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L23-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L23-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L23-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL23-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L23-Regular.ttf</string>
    <string>MFont58737edbvcef67741L23-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL23-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL24-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L24-Regular.ttf</string>
    <string>MFont58737edbvcef67741L24-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL24-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L24-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L24-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L24-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL24-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L24-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL24-Regular.ttf</string>
    <string>MFont58737edbL24-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL24-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L24-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL24-Regular.ttf</string>
    <string>MFont58737edbL25-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL25-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L25-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL25-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L25-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL25-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L25-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL25-Regular.ttf</string>
    <string>MFont58737edbvcef67741L25-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L25-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL25-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL25-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L25-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L25-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL26-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L26-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL26-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L26-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL26-Regular.ttf</string>
    <string>MFont58737edbL26-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L26-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L26-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL26-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL26-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L26-Regular.ttf</string>
    <string>MFont58737edbvcef67741L26-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL26-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L26-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL27-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L27-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L27-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L27-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL27-Regular.ttf</string>
    <string>MFont58737edbvcef67741L27-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L27-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL27-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL27-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L27-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL27-Regular.ttf</string>
    <string>MFont58737edbL27-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL27-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L27-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL28-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L28-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL28-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L28-Regular.ttf</string>
    <string>MFont58737edbvcef67741L28-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L28-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL28-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L28-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL28-Regular.ttf</string>
    <string>MFont58737edbL28-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L28-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL28-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL28-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L28-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L29-Regular.ttf</string>
    <string>MFont58737edbL29-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL29-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L29-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL29-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL29-Regular.ttf</string>
    <string>MFont58737edbvcef67741L29-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L29-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL29-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L29-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL29-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L29-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL29-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L29-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL30-Regular.ttf</string>
    <string>MFont58737edbL30-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L30-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL30-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL30-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L30-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL30-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L30-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL30-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L30-Regular.ttf</string>
    <string>MFont58737edbvcef67741L30-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L30-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL30-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L30-Regular.ttf</string>
    <string>MFont58737edbvcef67741L31-Regular.ttf</string>
    <string>MFont58737edbv9bfd2475L31-Regular.ttf</string>
    <string>MFont58737edbvc23455bdL31-Regular.ttf</string>
    <string>MFont58737edbva2d5f648L31-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL31-Regular.ttf</string>
    <string>MFont58737edbvd916eb85L31-Regular.ttf</string>
    <string>MFont58737edbv6390f34aL31-Regular.ttf</string>
    <string>MFont58737edbv488af6e3L31-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L31-Regular.ttf</string>
    <string>MFont58737edbL31-Regular.ttf</string>
    <string>MFont58737edbv3f03f34dL31-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L31-Regular.ttf</string>
    <string>MFont58737edbvd9c1ef6cL31-Regular.ttf</string>
    <string>MFont58737edbv58ab8dcdL31-Regular.ttf</string>
    <string>MFonteddfe0c5L0-Regular.ttf</string>
    <string>MFonteddfe0c5L1-Regular.ttf</string>
    <string>MFonteddfe0c5L2-Regular.ttf</string>
    <string>MFonteddfe0c5L3-Regular.ttf</string>
    <string>MFonteddfe0c5L4-Regular.ttf</string>
    <string>MFonteddfe0c5L5-Regular.ttf</string>
    <string>MFonteddfe0c5L6-Regular.ttf</string>
    <string>MFonteddfe0c5L7-Regular.ttf</string>
    <string>MFonteddfe0c5L8-Regular.ttf</string>
    <string>MFonteddfe0c5L9-Regular.ttf</string>
    <string>MFonteddfe0c5L10-Regular.ttf</string>
    <string>MFonteddfe0c5L11-Regular.ttf</string>
    <string>MFonteddfe0c5L12-Regular.ttf</string>
    <string>MFonteddfe0c5L13-Regular.ttf</string>
    <string>MFonteddfe0c5L14-Regular.ttf</string>
    <string>MFonteddfe0c5L15-Regular.ttf</string>
    <string>MFonteddfe0c5L16-Regular.ttf</string>
    <string>MFonteddfe0c5L17-Regular.ttf</string>
    <string>MFonteddfe0c5L18-Regular.ttf</string>
    <string>MFonteddfe0c5L19-Regular.ttf</string>
    <string>MFonteddfe0c5L20-Regular.ttf</string>
    <string>MFonteddfe0c5L21-Regular.ttf</string>
    <string>MFonteddfe0c5L22-Regular.ttf</string>
    <string>MFonteddfe0c5L23-Regular.ttf</string>
    <string>MFonteddfe0c5L24-Regular.ttf</string>
    <string>MFonteddfe0c5L25-Regular.ttf</string>
    <string>MFonteddfe0c5L26-Regular.ttf</string>
    <string>MFonteddfe0c5L27-Regular.ttf</string>
    <string>MFonteddfe0c5L28-Regular.ttf</string>
    <string>MFonteddfe0c5L29-Regular.ttf</string>
    <string>MFonteddfe0c5L30-Regular.ttf</string>
    <string>MFonteddfe0c5L31-Regular.ttf</string>
  </array>
  <key>NSExtension</key><dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.widgetkit-extension</string>
  </dict>
</dict></plist>
