<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
  <key>CFBundleDisplayName</key><string>Motionary</string>
  <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
  <key>UIAppFonts</key>
  <array>
    <string>Custom-Regular.otf</string>
    <string>MFont58737edbL0-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L0-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL0-Regular.ttf</string>
    <string>MFont58737edbv75771df0L0-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L0-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L1-Regular.ttf</string>
    <string>MFont58737edbL1-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L1-Regular.ttf</string>
    <string>MFont58737edbv75771df0L1-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL1-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L2-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL2-Regular.ttf</string>
    <string>MFont58737edbv75771df0L2-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L2-Regular.ttf</string>
    <string>MFont58737edbL2-Regular.ttf</string>
    <string>MFont58737edbv75771df0L3-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL3-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L3-Regular.ttf</string>
    <string>MFont58737edbL3-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L3-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L4-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L4-Regular.ttf</string>
    <string>MFont58737edbL4-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL4-Regular.ttf</string>
    <string>MFont58737edbv75771df0L4-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L5-Regular.ttf</string>
    <string>MFont58737edbL5-Regular.ttf</string>
    <string>MFont58737edbv75771df0L5-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL5-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L5-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL6-Regular.ttf</string>
    <string>MFont58737edbv75771df0L6-Regular.ttf</string>
    <string>MFont58737edbL6-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L6-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L6-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L7-Regular.ttf</string>
    <string>MFont58737edbv75771df0L7-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL7-Regular.ttf</string>
    <string>MFont58737edbL7-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L7-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L8-Regular.ttf</string>
    <string>MFont58737edbL8-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L8-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL8-Regular.ttf</string>
    <string>MFont58737edbv75771df0L8-Regular.ttf</string>
    <string>MFont58737edbL9-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L9-Regular.ttf</string>
    <string>MFont58737edbv75771df0L9-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL9-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L9-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL10-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L10-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L10-Regular.ttf</string>
    <string>MFont58737edbv75771df0L10-Regular.ttf</string>
    <string>MFont58737edbL10-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L11-Regular.ttf</string>
    <string>MFont58737edbL11-Regular.ttf</string>
    <string>MFont58737edbv75771df0L11-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L11-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL11-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L12-Regular.ttf</string>
    <string>MFont58737edbv75771df0L12-Regular.ttf</string>
    <string>MFont58737edbL12-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L12-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL12-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL13-Regular.ttf</string>
    <string>MFont58737edbL13-Regular.ttf</string>
    <string>MFont58737edbv75771df0L13-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L13-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L13-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L14-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L14-Regular.ttf</string>
    <string>MFont58737edbL14-Regular.ttf</string>
    <string>MFont58737edbv75771df0L14-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL14-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL15-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L15-Regular.ttf</string>
    <string>MFont58737edbv75771df0L15-Regular.ttf</string>
    <string>MFont58737edbL15-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L15-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL16-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L16-Regular.ttf</string>
    <string>MFont58737edbL16-Regular.ttf</string>
    <string>MFont58737edbv75771df0L16-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L16-Regular.ttf</string>
    <string>MFont58737edbv75771df0L17-Regular.ttf</string>
    <string>MFont58737edbL17-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L17-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L17-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL17-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L18-Regular.ttf</string>
    <string>MFont58737edbL18-Regular.ttf</string>
    <string>MFont58737edbv75771df0L18-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L18-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL18-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL19-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L19-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L19-Regular.ttf</string>
    <string>MFont58737edbv75771df0L19-Regular.ttf</string>
    <string>MFont58737edbL19-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L20-Regular.ttf</string>
    <string>MFont58737edbL20-Regular.ttf</string>
    <string>MFont58737edbv75771df0L20-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L20-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL20-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL21-Regular.ttf</string>
    <string>MFont58737edbv75771df0L21-Regular.ttf</string>
    <string>MFont58737edbL21-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L21-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L21-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL22-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L22-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L22-Regular.ttf</string>
    <string>MFont58737edbL22-Regular.ttf</string>
    <string>MFont58737edbv75771df0L22-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L23-Regular.ttf</string>
    <string>MFont58737edbv75771df0L23-Regular.ttf</string>
    <string>MFont58737edbL23-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L23-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL23-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL24-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L24-Regular.ttf</string>
    <string>MFont58737edbv75771df0L24-Regular.ttf</string>
    <string>MFont58737edbL24-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L24-Regular.ttf</string>
    <string>MFont58737edbL25-Regular.ttf</string>
    <string>MFont58737edbv75771df0L25-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L25-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L25-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL25-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L26-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L26-Regular.ttf</string>
    <string>MFont58737edbv75771df0L26-Regular.ttf</string>
    <string>MFont58737edbL26-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL26-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL27-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L27-Regular.ttf</string>
    <string>MFont58737edbL27-Regular.ttf</string>
    <string>MFont58737edbv75771df0L27-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L27-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL28-Regular.ttf</string>
    <string>MFont58737edbv75771df0L28-Regular.ttf</string>
    <string>MFont58737edbL28-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L28-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L28-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L29-Regular.ttf</string>
    <string>MFont58737edbL29-Regular.ttf</string>
    <string>MFont58737edbv75771df0L29-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L29-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL29-Regular.ttf</string>
    <string>MFont58737edbv75771df0L30-Regular.ttf</string>
    <string>MFont58737edbL30-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L30-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L30-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL30-Regular.ttf</string>
    <string>MFont58737edbv5eeeb46dL31-Regular.ttf</string>
    <string>MFont58737edbv74b1be23L31-Regular.ttf</string>
    <string>MFont58737edbL31-Regular.ttf</string>
    <string>MFont58737edbv75771df0L31-Regular.ttf</string>
    <string>MFont58737edbv59fc4fd7L31-Regular.ttf</string>
    <string>MFont9d1a703fL0-Regular.ttf</string>
    <string>MFont9d1a703fL1-Regular.ttf</string>
    <string>MFont9d1a703fL2-Regular.ttf</string>
    <string>MFont9d1a703fL3-Regular.ttf</string>
    <string>MFont9d1a703fL4-Regular.ttf</string>
    <string>MFont9d1a703fL5-Regular.ttf</string>
    <string>MFont9d1a703fL6-Regular.ttf</string>
    <string>MFont9d1a703fL7-Regular.ttf</string>
    <string>MFont9d1a703fL8-Regular.ttf</string>
    <string>MFont9d1a703fL9-Regular.ttf</string>
    <string>MFont9d1a703fL10-Regular.ttf</string>
    <string>MFont9d1a703fL11-Regular.ttf</string>
    <string>MFont9d1a703fL12-Regular.ttf</string>
    <string>MFont9d1a703fL13-Regular.ttf</string>
    <string>MFont9d1a703fL14-Regular.ttf</string>
    <string>MFont9d1a703fL15-Regular.ttf</string>
    <string>MFont9d1a703fL16-Regular.ttf</string>
    <string>MFont9d1a703fL17-Regular.ttf</string>
    <string>MFont9d1a703fL18-Regular.ttf</string>
    <string>MFont9d1a703fL19-Regular.ttf</string>
    <string>MFont9d1a703fL20-Regular.ttf</string>
    <string>MFont9d1a703fL21-Regular.ttf</string>
    <string>MFont9d1a703fL22-Regular.ttf</string>
    <string>MFont9d1a703fL23-Regular.ttf</string>
    <string>MFont9d1a703fL24-Regular.ttf</string>
    <string>MFont9d1a703fL25-Regular.ttf</string>
    <string>MFont9d1a703fL26-Regular.ttf</string>
    <string>MFont9d1a703fL27-Regular.ttf</string>
    <string>MFont9d1a703fL28-Regular.ttf</string>
    <string>MFont9d1a703fL29-Regular.ttf</string>
    <string>MFont9d1a703fL30-Regular.ttf</string>
    <string>MFont9d1a703fL31-Regular.ttf</string>
    <string>MFonteddfe0c5L0-Regular.ttf</string>
    <string>MFonteddfe0c5L1-Regular.ttf</string>
    <string>MFonteddfe0c5L2-Regular.ttf</string>
    <string>MFonteddfe0c5L3-Regular.ttf</string>
    <string>MFonteddfe0c5L4-Regular.ttf</string>
    <string>MFonteddfe0c5L5-Regular.ttf</string>
    <string>MFonteddfe0c5L6-Regular.ttf</string>
    <string>MFonteddfe0c5L7-Regular.ttf</string>
    <string>MFonteddfe0c5L8-Regular.ttf</string>
    <string>MFonteddfe0c5L9-Regular.ttf</string>
    <string>MFonteddfe0c5L10-Regular.ttf</string>
    <string>MFonteddfe0c5L11-Regular.ttf</string>
    <string>MFonteddfe0c5L12-Regular.ttf</string>
    <string>MFonteddfe0c5L13-Regular.ttf</string>
    <string>MFonteddfe0c5L14-Regular.ttf</string>
    <string>MFonteddfe0c5L15-Regular.ttf</string>
    <string>MFonteddfe0c5L16-Regular.ttf</string>
    <string>MFonteddfe0c5L17-Regular.ttf</string>
    <string>MFonteddfe0c5L18-Regular.ttf</string>
    <string>MFonteddfe0c5L19-Regular.ttf</string>
    <string>MFonteddfe0c5L20-Regular.ttf</string>
    <string>MFonteddfe0c5L21-Regular.ttf</string>
    <string>MFonteddfe0c5L22-Regular.ttf</string>
    <string>MFonteddfe0c5L23-Regular.ttf</string>
    <string>MFonteddfe0c5L24-Regular.ttf</string>
    <string>MFonteddfe0c5L25-Regular.ttf</string>
    <string>MFonteddfe0c5L26-Regular.ttf</string>
    <string>MFonteddfe0c5L27-Regular.ttf</string>
    <string>MFonteddfe0c5L28-Regular.ttf</string>
    <string>MFonteddfe0c5L29-Regular.ttf</string>
    <string>MFonteddfe0c5L30-Regular.ttf</string>
    <string>MFonteddfe0c5L31-Regular.ttf</string>
    <string>MFontd2c6f169L0-Regular.ttf</string>
    <string>MFontd2c6f169L1-Regular.ttf</string>
    <string>MFontd2c6f169L2-Regular.ttf</string>
    <string>MFontd2c6f169L3-Regular.ttf</string>
    <string>MFontd2c6f169L4-Regular.ttf</string>
    <string>MFontd2c6f169L5-Regular.ttf</string>
    <string>MFontd2c6f169L6-Regular.ttf</string>
    <string>MFontd2c6f169L7-Regular.ttf</string>
    <string>MFontd2c6f169L8-Regular.ttf</string>
    <string>MFontd2c6f169L9-Regular.ttf</string>
    <string>MFontd2c6f169L10-Regular.ttf</string>
    <string>MFontd2c6f169L11-Regular.ttf</string>
    <string>MFontd2c6f169L12-Regular.ttf</string>
    <string>MFontd2c6f169L13-Regular.ttf</string>
    <string>MFontd2c6f169L14-Regular.ttf</string>
    <string>MFontd2c6f169L15-Regular.ttf</string>
    <string>MFontd2c6f169L16-Regular.ttf</string>
    <string>MFontd2c6f169L17-Regular.ttf</string>
    <string>MFontd2c6f169L18-Regular.ttf</string>
    <string>MFontd2c6f169L19-Regular.ttf</string>
    <string>MFontd2c6f169L20-Regular.ttf</string>
    <string>MFontd2c6f169L21-Regular.ttf</string>
    <string>MFontd2c6f169L22-Regular.ttf</string>
    <string>MFontd2c6f169L23-Regular.ttf</string>
    <string>MFontd2c6f169L24-Regular.ttf</string>
    <string>MFontd2c6f169L25-Regular.ttf</string>
    <string>MFontd2c6f169L26-Regular.ttf</string>
    <string>MFontd2c6f169L27-Regular.ttf</string>
    <string>MFontd2c6f169L28-Regular.ttf</string>
    <string>MFontd2c6f169L29-Regular.ttf</string>
    <string>MFontd2c6f169L30-Regular.ttf</string>
    <string>MFontd2c6f169L31-Regular.ttf</string>
  </array>
  <key>NSExtension</key><dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.widgetkit-extension</string>
  </dict>
</dict></plist>
