<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
  <key>CFBundleDisplayName</key><string>Motionary</string>
  <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
  <key>UIAppFonts</key>
  <array>
    <string>Custom-Regular.otf</string>
    <string>MFont0d83df77L0-Regular.ttf</string>
    <string>MFont0d83df77L1-Regular.ttf</string>
    <string>MFont0d83df77L2-Regular.ttf</string>
    <string>MFont0d83df77L3-Regular.ttf</string>
    <string>MFont0d83df77L4-Regular.ttf</string>
    <string>MFont0d83df77L5-Regular.ttf</string>
    <string>MFont0d83df77L6-Regular.ttf</string>
    <string>MFont0d83df77L7-Regular.ttf</string>
    <string>MFont0d83df77L8-Regular.ttf</string>
    <string>MFont0d83df77L9-Regular.ttf</string>
    <string>MFont0d83df77L10-Regular.ttf</string>
    <string>MFont0d83df77L11-Regular.ttf</string>
    <string>MFont0d83df77L12-Regular.ttf</string>
    <string>MFont0d83df77L13-Regular.ttf</string>
    <string>MFont0d83df77L14-Regular.ttf</string>
    <string>MFont0d83df77L15-Regular.ttf</string>
    <string>MFont0d83df77L16-Regular.ttf</string>
    <string>MFont0d83df77L17-Regular.ttf</string>
    <string>MFont0d83df77L18-Regular.ttf</string>
    <string>MFont0d83df77L19-Regular.ttf</string>
    <string>MFont0d83df77L20-Regular.ttf</string>
    <string>MFont0d83df77L21-Regular.ttf</string>
    <string>MFont0d83df77L22-Regular.ttf</string>
    <string>MFont0d83df77L23-Regular.ttf</string>
    <string>MFont0d83df77L24-Regular.ttf</string>
    <string>MFont0d83df77L25-Regular.ttf</string>
    <string>MFont0d83df77L26-Regular.ttf</string>
    <string>MFont0d83df77L27-Regular.ttf</string>
    <string>MFont0d83df77L28-Regular.ttf</string>
    <string>MFont0d83df77L29-Regular.ttf</string>
    <string>MFont0d83df77L30-Regular.ttf</string>
    <string>MFont0d83df77L31-Regular.ttf</string>
  </array>
  <key>NSExtension</key><dict>
    <key>NSExtensionPointIdentifier</key><string>com.apple.widgetkit-extension</string>
  </dict>
</dict></plist>
