<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
  <key>CFBundleDisplayName</key><string>Motionary</string>
  <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
  <key>UILaunchScreen</key><dict/>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>Motionary saves the generated Home Screen wallpaper to your photo library so you can set it as your background.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Motionary reads the video you pick so it can turn it into an animated widget.</string>
  <key>CFBundleURLTypes</key>
  <array><dict>
    <key>CFBundleURLName</key><string>com.caden.Motionary.launch</string>
    <key>CFBundleURLSchemes</key><array><string>motionary</string></array>
  </dict></array>
  <key>UIAppFonts</key>
  <array>
    <string>Custom-Regular.otf</string>
    <string>MFontda05ebc2L0-Regular.ttf</string>
    <string>MFontda05ebc2L1-Regular.ttf</string>
    <string>MFontda05ebc2L2-Regular.ttf</string>
    <string>MFontda05ebc2L3-Regular.ttf</string>
    <string>MFontda05ebc2L4-Regular.ttf</string>
    <string>MFontda05ebc2L5-Regular.ttf</string>
    <string>MFontda05ebc2L6-Regular.ttf</string>
    <string>MFontda05ebc2L7-Regular.ttf</string>
    <string>MFontda05ebc2L8-Regular.ttf</string>
    <string>MFontda05ebc2L9-Regular.ttf</string>
    <string>MFontda05ebc2L10-Regular.ttf</string>
    <string>MFontda05ebc2L11-Regular.ttf</string>
    <string>MFontda05ebc2L12-Regular.ttf</string>
    <string>MFontda05ebc2L13-Regular.ttf</string>
    <string>MFontda05ebc2L14-Regular.ttf</string>
    <string>MFontda05ebc2L15-Regular.ttf</string>
    <string>MFontda05ebc2L16-Regular.ttf</string>
    <string>MFontda05ebc2L17-Regular.ttf</string>
    <string>MFontda05ebc2L18-Regular.ttf</string>
    <string>MFontda05ebc2L19-Regular.ttf</string>
    <string>MFontda05ebc2L20-Regular.ttf</string>
    <string>MFontda05ebc2L21-Regular.ttf</string>
    <string>MFontda05ebc2L22-Regular.ttf</string>
    <string>MFontda05ebc2L23-Regular.ttf</string>
    <string>MFontda05ebc2L24-Regular.ttf</string>
    <string>MFontda05ebc2L25-Regular.ttf</string>
    <string>MFontda05ebc2L26-Regular.ttf</string>
    <string>MFontda05ebc2L27-Regular.ttf</string>
    <string>MFontda05ebc2L28-Regular.ttf</string>
    <string>MFontda05ebc2L29-Regular.ttf</string>
    <string>MFontda05ebc2L30-Regular.ttf</string>
    <string>MFontda05ebc2L31-Regular.ttf</string>
  </array>
</dict></plist>
