<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Motionary</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Motionary Design</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.caden.motionary.design-package</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.caden.Motionary.launch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>motionary</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_motionary._tcp</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Motionary reads your next event so a widget can show it. It is only read, never changed.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Motionary receives designs sent from Motionary Studio on your Mac.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Motionary saves the generated Home Screen wallpaper to your photo library so you can set it as your background.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Motionary reads the video you pick so it can turn it into an animated widget.</string>
	<key>UIAppFonts</key>
  <array>
    <string>Custom-Regular.otf</string>
    <string>Blnk10-Regular.otf</string>
    <string>Blnk05-Regular.otf</string>
    <string>Blnk15-Regular.otf</string>
    <string>Blnk20-Regular.otf</string>
    <string>Blnk30-Regular.otf</string>
  </array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Motionary Design</string>
			<key>UTTypeIdentifier</key>
			<string>com.caden.motionary.design-package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>motionary</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
